<table width="100%" >
  <tr>
    <td width = 80% class= "newsCol" >
      <% @titleArray.each_with_index do |item, i| %>
          <table width="100%">
            <tr>
              <th>
                <%= @titleArray[i] %>
              </th>
            </tr>
            <tr>
              <td height="200px" style="vertical-align: top; border: 3px solid;">
                <%= raw(@postArray[i]) %>
              </td>
            </tr>
          </table>
      <% end %>


    </td>
    <td width = 20%>
      <table width="100%">
        <tr>
          <th>
            Comic Link
          </th>
        </tr>
        <tr>
          <td height="200px" style="background: url(<%= asset_path 'TestComic.jpg' %>) <%= @x %>% <%= @y %>% no-repeat; border: 3px solid">
            <a style="display: block; width:100%; height: 100%;" href="<%= url_for :action => "comic" %>"></a>
          </td>
        </tr>
      </table>


    </td></tr>
</table>